@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.bkupRestoreForm fieldset {
	padding: 10px 10px 15px 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

.bkupRestoreForm legend {
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

.bkupRestoreForm__btnContainer {
	text-align: center;
}

.bkupRestoreForm__btn {
	border-radius: 20px;
	padding: 5px;
	margin: 10px 10px 0px 0px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

	background: rgb(181,242,239);
    background: linear-gradient(90deg, rgba(181,242,239,1) 0%, rgba(131,237,232,1) 50%, rgba(181,242,239,1) 100%);
}

.bkupRestoreForm__btn:hover,
.bkupRestoreForm__btn:focus {
	background: rgb(212,209,209);
}

.bkupRestoreForm__btn:active {
	transform: translateY(3px);
}

.bkupRestoreForm__input--file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.bkupRestoreForm__input--file + label {
	cursor: pointer;
	padding: 5px;
	margin-left: 10px;
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

	background: rgb(181,242,239);
    background: linear-gradient(90deg, rgba(181,242,239,1) 0%, rgba(131,237,232,1) 50%, rgba(181,242,239,1) 100%);
}

.bkupRestoreForm__input--file:focus + label,
.bkupRestoreForm__input--file:hover + label {
	background: rgb(212,209,209);
}

@media screen and (min-width: 500px) {
	.bkupRestoreForm {
		max-width: 500px;
		margin: auto;
	}
}
