@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.delete__feedBtnList {
	list-style: none;
	margin-left: 10px;
	padding-bottom: 5px;
	height: 70vh;
	overflow: scroll;
	overflow-x: hidden;
}

.delete__feedBtnList span {
	font-weight: bold;
	font-size: 2rem;
}

.delete__dropDown {
	list-style: none;
}

.delete__feedBtn {
	height: 40px;
	width: 90%;
	text-align: center;
	padding: 10px;
	margin: auto;
}

.delete__feedBtn:hover {
	background-color: white;
	cursor: pointer;
	font-weight: bold;
	color: #E15959;
	border-radius: 20px;
}

.delete__feedBtn:focus {
	background-color: white;
	outline: none;
	font-weight: bold;
	color: #E15959;
	border-radius: 20px;
}

@media screen and (min-width: 500px) {
	.delete__feedBtn {
		width: 300px;
	}
}

.deleteHint {
	text-align: center;
	padding: 5px;
	font-weight: bold;
	color: #E15959;
	font-size: 1.75rem;
	text-decoration: underline;
}