@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.searchBarContainer h2 {
	padding-top: 5px;
	text-align: center;
}

.feedsLabel {
	display: block;
	padding: 5px 5px 5px 10px;
}

.searchInput {
	width: 90%;
	margin: 0px 0px 10px 10px;
}