@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.feedBtnList {
	list-style: none;
	margin-left: 10px;
	padding-bottom: 5px;
	height: 120px;
	overflow: scroll;
	overflow-x: hidden;
}

.feedBtnList span {
	font-weight: bold;
	font-size: 2rem;
}

.dropDown {
	list-style: none;
}

.feedBtn {
	height: 40px;
	width: 90%;
	text-align: center;
	padding: 12px 10px 10px 10px;
	margin: auto;
}

.feedBtn:hover {
	background-color: white;
	cursor: pointer;
	font-weight: bold;
}

.feedBtn:focus {
	outline: 2px solid blue;
}
