@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.errorTitle {
	text-align: center;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	font-size: 2rem;
}

.errorText {
	margin: 0px 10px 0px 10px;
	font-size: 2rem;
}
/*loading spinner*/

.loading {
	border: 10px solid #BDC4CF;
	border-top: 10px solid #A8E8E5;
	border-radius: 50%;
	width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.hint {
	text-align: center;
	font-size: 2rem;
	margin: 0px 10px 0px 10px;
}

.feedOutput {
	width: 90vw;
 	margin: 0px auto 0px auto;
}

.feedOutput h2 {
	text-align: center
}

.feedOutput h3 {
	text-align: center
}

.feedOutput time {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

/*center all block elements*/
.feedOutput * {
	margin: 0 auto 0 auto;

	max-width: 90vw;
	overflow: auto;
}

.feedArticle {
	margin-bottom: 20px;
}

/*.feedArticle pre code {
	display: block;
	max-width: 90vw;
	overflow: auto;
}

.feedArticle table {
	display: block;
	max-width: 90vw;
	overflow: auto;
}*/

.feedArticle div {
	max-width: 90vw;
}

.feedArticle p {
	max-width: 90vw;
	word-wrap: break-word;
}

.feedArticle  img {
	display: block;
	height: auto;
	max-width: 90vw;
	float: none;
}

.feedArticle video {
	display: block;
}

.feedArticle iframe {
	height: auto;
	max-width: 90vw;
}

.feedArticle figure {
	height: auto;
	max-width: 90vw;
}


@media screen and (min-width: 1100px) {
	.feedOutput {
		width: 50vw;
	}

	.feedOutput * {
		max-width: 50vw;
	}

	.feedArticle div {
		max-width: 50vw;
	}

	.feedArticle p {
		max-width: 50vw;
	}

	.feedArticle  img {
		max-width: 50vw;
	}

	.feedArticle iframe {
		max-width: 50vw;
	}

	.feedArticle figure {
		max-width: 50vw;
	}
}
