@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.errorTitle {
	text-align: center;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	font-size: 2rem;
}

.errorText {
	margin: 0px 10px 0px 10px;
	font-size: 2rem;
}

.loading {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
}

.hint {
	text-align: center;
	font-size: 2rem;
	margin: 0px 10px 0px 10px;
}


.rssOutput {
	width: 90vw;
 	margin: 0px auto 0px auto;
 	word-wrap: break-word;
}

.feedArticle img {
	height: auto;
	max-width: 100%;
}

.feedArticle iframe {
	height: auto;
	max-width: 100%;
}

.feedArticle figure {
	height: auto;
	max-width: 100%;
}