@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.addFeedForm fieldset {
	padding: 10px 10px 15px 10px;
	margin: 10px 10px 0px 10px;
	border: 1px solid black;
	border-radius: 10px;
}

.addFeedForm legend {
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

.addFeedForm__input {
	width: 100%;
	border: 1px solid black;
	border-radius: 20px;
	padding: 3px;
	outline: none;
}

.addFeedForm__input:focus {
	background-color: lightyellow;
}

.addFeedForm__btnContainer {
	text-align: center;
}

.addFeedForm__btn {
	border-radius: 20px;
	padding: 5px;
	margin: 10px 10px 0px 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

	background: rgb(181,242,239);
    background: linear-gradient(90deg, rgba(181,242,239,1) 0%, rgba(131,237,232,1) 50%, rgba(181,242,239,1) 100%);
}

.addFeedForm__btn:hover,
.addFeedForm__btn:focus {
	background: rgb(212,209,209);
}

.addFeedForm__btn:active {
	transform: translateY(3px);
}

@media screen and (min-width: 500px) {
	.addFeedForm {
		max-width: 500px;
		margin: auto;
	}
}