@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.instructionsContainer {
	max-width: 100rem;
	margin: 0px auto 0px auto;
	font-size: 1.75rem;
	padding: 15px;
}

.instructionsContainer h3 {
	text-align: center;
}