@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

.manageFeedForm fieldset {
	padding: 10px 10px 15px 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

.manageFeedForm legend {
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

.manageFeedForm__Btn {
	background-color: #A8E8E5;
	border-radius: 20px;
	padding: 5px;
	margin: 10px 0px 15px 0px;
	display: block;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.manageFeedForm__Btn:hover,
.manageFeedForm__Btn:focus {
	background-color: #BDC4CF;
}

.manageFeedForm__Btn:active {
	transform: translateY(3px);
}

.manageFeedForm__input--file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.manageFeedForm__input--file + label {
	background-color: #A8E8E5;
	cursor: pointer;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.manageFeedForm__input--file:focus + label,
.manageFeedForm__input--file:hover + label {
	background-color: #BDC4CF;
}
