@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */


.scrollTop {
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	display: none;

	background: rgb(181,242,239);
    background: linear-gradient(90deg, rgba(181,242,239,1) 0%, rgba(131,237,232,1) 50%, rgba(181,242,239,1) 100%);
}

.scrollTop:hover,
.scrollTop:focus {
	background: rgba(149,181,226,1);
	font-weight: bold;
}


.scrollTop:active {
	transform: translateY(3px);
}


/*desktop adjustment*/
@media screen and (min-width: 1100px) {
	.scrollTop {
		right: 6rem;
	}
}

@media screen and (min-width: 1300px) {
	.scrollTop {
		right: 15rem;
	}
}

@media screen and (min-width: 1500px) {
	.scrollTop {
		right: 25rem;
	}
}