@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

/*
	styles the main container for DeleteFeedBtnList and
	FeedBtnList
*/
 .searchBox {
 	margin: 10px auto 10px auto;
 	border-radius: 10px;
 	width: 90vw;

	background: rgb(212,209,209);
    background: linear-gradient(90deg, rgba(212,209,209,1) 0%, rgba(201,201,201,1) 50%, rgba(212,209,209,1) 100%);
 }

 .delete__searchBox {
 	margin: 10px auto 10px auto;
 	border-radius: 10px;
 	width: 90vw;

	background: rgb(212,209,209);
    background: linear-gradient(90deg, rgba(212,209,209,1) 0%, rgba(201,201,201,1) 50%, rgba(212,209,209,1) 100%);
 }

 .edit__searchBox {
 	margin: 10px auto 10px auto;
 	border-radius: 10px;
 	width: 90vw;

	background: rgb(212,209,209);
    background: linear-gradient(90deg, rgba(212,209,209,1) 0%, rgba(201,201,201,1) 50%, rgba(212,209,209,1) 100%);
 }

 .footer {
 	position: fixed;
 	bottom: 0;
 	left: 0;
 	width: 100vw;
 	height: 6.5rem;

	background: rgb(212,209,209);
    background: linear-gradient(90deg, rgba(212,209,209,1) 0%, rgba(201,201,201,1) 50%, rgba(212,209,209,1) 100%);
 }

 .footer p {
 	padding-left: 20px;
 }

 .footer__links-box {
 	padding: 5px;
 }

 .footer__link-logo {
 	padding: 2px;
 }

.footer__link-logo:hover {
	animation: moveLogoOut 1s linear;
}

@keyframes moveLogoOut {
	0% {

        transform: scale3d(1.1,1.1,1.1);
    }
    20% {

        transform: scale3d(1.2,1.2,1.2);
    }
    40% {

        transform: scale3d(1.3,1.3,1.3);
    }
    60% {

        transform: scale3d(1.2,1.2,1.2);
    }
    80% {

        transform: scale3d(1.1,1.1,1.1);
    }
    100% {

        transform: scale3d(1,1,1);
    }
}


@media screen and (min-width: 500px) {
	.searchBox {
		width: 500px;
	}

	.delete__searchBox {
		width: 500px;
	}

	.edit__searchBox {
		width: 500px;
	}
}