@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

 .header {
 	text-align: center;
 }

 .header__container {
 	display: flex;
 }

 .header__container-title {
 	margin: auto auto auto 0px;
 }

/*
	styles the main container for DeleteFeedBtnList and
	FeedBtnList
*/
 .searchBox {
 	background-color: #BDC4CF;
 	margin: 10px auto 10px auto;
 	border-radius: 10px;
 	width: 90vw;
 }

 .footer {
 	position: fixed;
 	bottom: 0;
 	left: 0;
 	width: 100vw;
 	height: 6.5rem;
 	background-color: #BDC4CF;
 }

 .footer__links-box {
 	padding: 5px;
 }

 .footer__link-logo {
 	padding: 2px;
 }

@media screen and (min-width: 500px) {
	.searchBox {
		width: 500px;
	}

	.header {
		max-width: 500px;
		margin: auto;
	}

	.header__container {
		margin-left: 75px;
	}
}