@charset "UTF-8";
/**
 * CSFeedy
 * @authors Andrew Rogala
 * @date    9/13/2018
 * @version 1.0
 */

/*apply a browser reset * only selects element so must select psudo elemts as well
apply border-box to make all elements account for any border and padding in the values
you specify for an element's width and height. If you set an element's width to 100 pixels,
that 100 pixels will include any border or padding you added, and the content box will shrink
to absorb that extra width. This typically makes it much easier to size elements.*/
*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}
/*set the root fontsize to 10px which is 62.5% of the default browser 16px
defines what 1rem is*/
html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.5rem;
	background-color: #E9F2FF;
	margin-bottom: 7.5rem;
}

/*remove some default button styles*/
button {
	font-size: 100%;
	font-family: inherit;
	border: 0;
	padding: 0;
	background-color: transparent;
}

/*remove default blue outline on click*/
button:focus {
	outline: none;
}
button:hover {
	cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
